*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}
footer{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101001;
}
/*navagation bar starts here*/
.navagation{
    width: 80%;
    margin: 0;
    float: right;
}
.navagation,ul{
    margin: 0;
    padding: 0;
    list-style: none;


}
.navagation,li{
display: inline-block;
margin-left: 70px;
paddign-top: 5px;

}
.navagation,a{
color: #ffffff;
text-decoration: none;
}
.navagation,a:hover{
    color: #FFC300;
}
#title{
    color: #ffffff;
}
/*Slideshow container*/
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/*Hide the images by defualt*/
.mySlides{
    display: none;
}

/*Next & previeus buttons*/
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}